<div class="form-group">
  <label for="exampleFormControlFile1">Selecionar arquivo</label>
  <input
    type="file"
    class="form-control-file"
    id="exampleFormControlFile1"
    (change)="onChange($event)"
  />
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      [style.width]="progress + '%'"
    >
      {{ progress }}%
    </div>
  </div>
  <button
    type="button"
    class="btn btn-primary"
    (click)="onUpload()"
    [disabled]="!files"
  >
    Upload
  </button>
</div>
<button type="button" class="btn btn-primary" (click)="onDownloadPDF()">
  Download PDF
</button>
<button type="button" class="btn btn-primary" (click)="onDownloadExcel()">
  Download Excel
</button>
